/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */





body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e7e7e7;
}





.navbar-nav.navbar-right:last-child

{

  margin-right: 20px;
}

.body{
  background-color: #e7e7e7;
}

.form-signin{
  width: 25%;
}